.card {
  border: 1px solid black;
  border-radius: 1rem;
  width: 50%;
  font-weight: 600;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/736x/e2/8d/c1/e28dc1ce0acabbd1a79305e5761e4a1b.jpg");
  color: wheat;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}
.cointainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-column-gap: 20px;
}
